@use "../../assets//constants/colors";

.projects-section {
  max-width: 1080px;
  margin: 0 auto;
  height: 100vh;
  h1 {
    text-align: center;
    padding: 20px 0;
    color: colors.$brightgreen;
  }

  .projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div{
        text-align: center;
        width: 32%;
        padding: 100px 0;
        margin: 2% 0;
        border: 1px solid colors.$white;
    }
  }
}
