@use "../../assets/constants/colors";

.about-section {
  max-width: 1080px;
  margin: 0 auto;
  height: 100vh;
  h1 {
    padding: 20px 0;
    text-align: center;
    color: colors.$brightgreen;
  }
  p {
    text-align: justify;
  }
}
