@use "../../assets/constants/colors";

header {
  position: sticky;
  max-width: 1080px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  ul {
    display: flex;
    li {
      cursor: pointer;
      padding: 16px 20px;
      text-align: center;
      :hover{
        color: colors.$brightgreen;
      }
    }
  }
  .search {
    cursor: pointer;
    padding: 8px 20px 6px 20px;
    img {
      display: block;
      width: 36px;
      height: 36px;
      padding: 9px;
      border-radius: 50%;
      background-color: white;
    }
  }
}
