$black: black;
$white: white;
$midnightblue: #14213d;
$darkyellow: #fca311;
$grey: #e5e5e5;
$darkdesaturatedblue: #1a2238;
$brightgreen:#24b849;
$orange: #ff6a3d;
$softblue:#9daaf2;
$yellow:#f4db7d;

