// @use "../../index.scss";

.blogs-container {
  min-height: 100vh;
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
  h1 {
    margin: 30px;
    padding: 20px 0;
    text-align: center;
  }
  .blogs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
    row-gap: 10%;
    .blog {
      min-height: 25vh;
      border: 0.5px solid white;
      img {
        width: 100%;
        display: block;
      }
      .details {
        background-color: darkolivegreen;
        border-top: 0.5px solid white;
      }
      .topic {
        padding: 10px 0;
        text-align: center;
        font-size: 12px;
      }
      .title {
        text-align: center;
        padding: 10px 0 20px 0;
      }
    }
  }
}
