@use "./assets/fonts/inter";

#root{
  background-color: black;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Inter;
    color: white;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
