@use "../../assets/constants/colors";
@use "../../assets/constants/variables";

$bannertopmargin: 100px;

.banner-container {
  height: calc(100vh - variables.$lg-banner-height - $bannertopmargin);
  text-align: center;
  margin: $bannertopmargin auto 0 auto;
  max-width: 1920px;
  width: 80%;
  .top-banner {
    h2,
    p {
      margin: 15px;
      span {
        color: colors.$brightgreen;
        font-weight: bold;
      }
    }
    .banner-animated-text {
      margin: 30px 0;
      .title {
        font-size: 35px;
        color: colors.$brightgreen;
        span {
          opacity: 0;
        }
      }
    }
    .top-banner-buttons {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      div {
        margin: 0 10px;
        padding: 10px 16px;
        border: 1px solid colors.$white;
        border-radius: 50px;
        &:hover {
          color: colors.$brightgreen;
          cursor: pointer;
        }
      }
    }
  }

  .bottom-banner {
    margin-top: 100px;
    ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      max-width: 1578px;
      margin: 0 auto;
      li {
        width: 12%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0;
        img {
          width: 60px;
          height: 60px;
          background-color: colors.$white;
          border-radius: 50px;
          padding: 2px;
        }
        p {
          padding-top: 10px;
          padding-bottom: 15px;
          width: 100%;
        }
      }
    }
  }
}

@keyframes typing {
  35%,
  75% {
    left: calc(100% + 5px);
  }
}

@media screen and (max-width: 1080px) {
  .banner-container {
    .top-banner {
      .banner-animated-text {
        .title {
          font-size: 30px;
        }
      }
      .top-banner-buttons {
        margin-top: 40px;
        div {
          padding: 10px 16px;
          font-size: 14px;
        }
      }
    }
    .bottom-banner {
      margin-top: 75px;
      ul {
        li {
          width: 25%;
          img {
            width: 50px;
            height: 50px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .banner-container {
    .top-banner {
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
      .banner-animated-text {
        .title {
          font-size: 20px;
        }
      }
      .top-banner-buttons {
        div {
          margin: 0 6px;
          padding: 8px 12px;
          font-size: 12px;
        }
      }
    }

    .bottom-banner {
      ul {
        li {
          img {
            width: 40px;
            height: 40px;
            padding: 1px;
          }
        }
      }
    }
  }
}
